
.logo {
  height: 40px; /* Un tamaño más adecuado para la navbar */
  padding: 0; /* Quitamos el padding que lo hacía demasiado grande */
  will-change: filter;
  transition: filter 300ms;  
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.signout-button {
  padding: 8px 16px;
  font-size: 0.9em;
  font-weight: 500;
  background-color: #f44336; /* Un color rojo para indicar acción de salida */
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.signout-button:hover {
  background-color: #d32f2f;
}

/* Estilo para el contenedor del spinner de carga inicial */
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
